@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

h1, h2, h3, h4, h5, h6{
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: rgb(75, 21, 101);
}
body{
    background-repeat: no-repeat;
    background-size: cover;
}
#title{
    margin: 20px 0;
}
#cuadrodetexto{

    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 50px;
    border-radius: 10px;

    min-height: 450px;
    max-height: 500px;
    min-width: 100%;
}
textarea{
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    background: no-repeat;
    color: rgb(81, 0, 73);
    padding: 14px;
    border-style: dashed;
    border-color: green;
    border-width: 2px;
}
button{
    font-family: 'Quicksand', sans-serif;
    width: 200px;
    height: 50px;
    font-size: 16px;
    border-radius: 10px;
    background: rgb(75, 21, 101);
    border: rgb(109, 18, 102);
    color: #ffffff;
    transition: .5s;
    /* centrado del boton */
    margin: -20px 30% 30px 
}

button:hover{
    font-size: 16px;
    background: rgb(50, 9, 70);
    border: rgb(242, 242, 242);
}

